/*Large Devices, Wide Screens - 1200px*/
/*Medium Devices, Desktops - 992 px*/
/* Small Device, Tablets */
/*Extra Small Devices, Phones*/
/* Custom, iPhone Retina */
body {
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #E5E5E5;
  padding: 50px 0px;
}
header .nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
}
header .nav .logo {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}
header .nav .logo span {
  font-weight: 700;
  font-size: 30px;
  color: #173A56;
}
header .nav .main-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
header .nav .main-menu .menu-item {
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  color: #22343D;
}
header .nav .main-menu .default-btn {
  color: #173A56;
  padding: 10px 15px;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  display: inline-block;
}
header .nav .main-menu .filled-btn {
  font-weight: 700;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  background-color: #02897A;
  color: #fff;
}

.promo {
  background-color: #E5E5E5;
  padding: 50px 8px;
}
.promo .promo-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #173A56;
}
.promo .promo-info .text-promo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  width: 600px;
}
.promo .promo-info .text-promo h1 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 18px;
}
.promo .promo-info .text-promo p {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 60px;
}
.promo .promo-info .text-promo .default {
  text-decoration: underline;
  margin-left: 10px;
  color: #02897A;
  font-weight: bold;
}
.promo .promo-info .text-promo .default i {
  margin-right: 5px;
}
.promo .promo-info .text-promo .filled-btn {
  font-weight: 700;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  background-color: #02897A;
  color: #fff;
}
.promo .promo-info img {
  max-width: 500px;
}

.products {
  background-color: #E5E5E5;
  padding-bottom: 50px;
}
.products .products-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  position: relative;
}
.products .products-info h1 {
  color: #173A56;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 66px;
}
.products .products-info .items {
  display: flex;
  margin-bottom: 50px;
  text-align: start;
}
.products .products-info .items .item {
  display: flex;
  flex-direction: column;
  gap: 46px;
  color: #173A56;
}
.products .products-info .items .item span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.products .products-info .items .item span i {
  border-radius: 15px;
  padding: 15px;
  color: #fff;
}
.products .products-info .items .item:nth-child(1) span i {
  background-color: #02897A;
}
.products .products-info .items .item:nth-child(2) span i {
  background-color: #4D8DFF;
}
.products .products-info .items .item:nth-child(3) span i {
  background-color: #740A76;
}
.products .products-info .items .item:nth-child(4) span i {
  background-color: #F03E3D;
}
.products .products-info .items .item h3 {
  font-weight: 600;
  font-size: 22px;
}
.products .products-info .items .item p {
  font-weight: 400;
  font-size: 16px;
}
.products .products-info .filled-btn {
  font-weight: 700;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  background-color: #02897A;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
